apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: prelude   ##
  labels:
    tier: frontend    ##
    env: dev          ##
spec: 
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  selector:
    matchLabels: 
      tier: frontend
  template:
    metadata:
      labels:
        tier: frontend
    spec: 
      #imagePullSecrets:
      #- name: ecr-registry-secret     ##  pending  ***
      containers:
      - name: frontend
        image: 137068254036.dkr.ecr.ap-south-1.amazonaws.com/frontend-repo:60
        imagePullPolicy: Always
        env:
          - name: REACT_APP_BACKEND_URL
            value: "http://adithyark.click/api/tasks"
        ports:
        - containerPort: 3000
